<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rosetta Stones | Add a message</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <style>
body {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
    </style>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include "_header.html" %}
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <form>
            <div class="input-group col-md-12">
              <textarea class="form-control" placeholder="Insert master key here. If you don't have one click the generate button." rows="3" ></textarea>
            </div>
            <br />
            <div class="input-group col-md-12">
              <textarea class="form-control" placeholder="Insert public key here. If you don't have one click the generate button." rows="3" ></textarea>
            </div>
            <br />
            <div class="input-group col-md-12">
              <button class="btn col-md-12" type="button">Generate</button>
            </div>
            <br />
            <div class="input-group col-md-12">
              <textarea class="form-control" placeholder="Your message..." rows="3"></textarea>
            </div>
            <br />
            <div class="input-group col-md-12">
              <button class="btn btn-default  col-md-12" type="button">Insert</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% include "_footer.html" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
