<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rosetta Stones</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <style>
body {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
    </style>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <h1>Rosetta Stones</h1>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Your key..." required="true">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="page-footer">
      <p>Powered by <a href="https://github.com/kesara/rosettastones/" title="Rosetta Stones">Rosetta Stones</a>.</p>
      <p>Rossetta Stones is released under <a href="http://www.gnu.org/licenses/agpl-3.0-standalone.html" title="GNU AFFERO GPL">GNU Affero General Public License</a>.</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
